html{
    color: #fff;
    scroll-behavior: smooth;
}

body{
    background: #000;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    max-width: 1120px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cabecalho .logo{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-decoration: underline;
    text-align: center;
    line-height: 55px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.cabecalho .menu li a{
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
}

.home{
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: space-between;
    margin-top: 70px;
}

.home .informacoes{
    display:flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 15px;
    max-width: 50%;
}

.home .informacoes h1{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    margin: 0 0 20px;
}

.home .informacoes p{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin: 0 0 10px;
}

.home ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.home a i{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 26px;
}

.home .container-photo .foto{
    max-width: 400px;
    border-radius: 50%;
}

.home .container-photo img{
    width: 100%;
    border-radius: 50%;
}

.projetos{
    /* background-color: red; */
    padding: 70px 0;
}

.projetos .titulo{
    text-align: center;
    padding: 60px 0;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
}

.projetos .container-projetos{
    /* background-color: yellow; */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.projetos .projeto{
    max-width: 260px;
    max-height: 500px;
    position: relative;
    display: none;
}

.projetos .projeto.ativo{
    display: block;
}

.projetos .projeto img{
    height: 100%;
}

.projetos .projeto h3{
    background-color: #040203;
    width: 100%;
    padding: 10px 0 10px 20px;
    position: absolute;
    bottom: 0;
}

.projetos .projeto .informacoes-projeto{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;   
}



