body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #213c51;
    color: #E3761C;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.contato{
    background-color: rgba(255, 255, 255, 0.152);
    height: 120px;
    width: 100%;
    text-align: center;
    color: black;
}
.contato:hover{
    background-color: white;
}
.sobre{
    color: #ffffff;
}

.foto {
    height: 20%;
    width: 20%;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra */
}

header{
    background-color: #0b141b;
    height: 150%;
    width: auto;
}

.projetos{
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #E3761C;
}

button {
    border-style: none;
    color: #E3761C;
    background-color: #ffffff00;
    font-size: larger;
}

button:hover{
    background-color: #0b141b00;
    cursor:pointer;
}

ul {
    text-align: justify;
    list-style:circle;
}

