body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container{
display: flex;
flex-wrap: wrap;
}
header, footer, aside, main{
    box-sizing: border-box;
    }
header {
    width: 100%;
    height: 100px;
    background-color: #045e2f;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    }

footer {
    width: 100%;
    background-color: #045e2f;
    color: #cae5b1;
    text-align: center;
    padding: 10px 0;
    }

aside{
    width: 25%;
    background-color: #dc7272;
    padding: 20px;
    color: rgb(255, 255, 255);
    }

main{
    flex: 75%;
    padding: 20px;
    background-color:bisque;
    font-style: italic;
    color: rgb(21, 102, 102);
    }
.texto:hover{
    color: rgb(255, 0, 0);
}

li:hover{
    font-style: italic;
    color: rgb(255, 255, 0);
}