.fotos {
    
    object-fit: cover;
    width: 200px;
    height: 300px;

}
.ohdpic {
    
    object-fit: cover;
    width: 245px;
    height: 245px;

}

.fotos:hover {
    scale: 180%;
}

.ohdpic:hover {
    scale: 180%;
}

.estilo-compartilhado:hover {
    font-size: 115%;
}

.livro {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#conteudo {
    width: 40%;
    padding: 5%;
}


#telaini {
    border-radius: 50%;
    object-fit: cover;
    width: 400px;
    height: 400px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-size: 300%;
    color:green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1:hover {
    color:greenyellow
}

ul {
    list-style: none;
}

.titulo {
    font-style: italic;
}

.autor {
    font-weight: bold;
}

a {
    color:brown;
   text-decoration: none;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
    color:brown;
}

footer {
    text-align: center;
    padding: 40px;
    color:rgb(128, 128, 128);
}

table {
    border-color: brown;
    background-color: blanchedalmond;
    color:brown;
    border-style:double;
}